.feature__list {
  @extend %list;
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}

.feature__item {
  width: 270px;
}

.feature__icon {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--section-team-bg-color);
}

.feature__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondory-font-color);
  margin-bottom: 10px;
}

.feature__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}