.header {
  border: 1px solid var(--border-header-color);
}

.header__container,
.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  @extend %list;
  display: flex;
  gap: 50px;
  margin-left: 93px;
  list-style: none;
}

.header__link {
  @extend %link;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondory-font-color);
  position: relative;
  transition: color 250ms var(--time-function);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    color: var(--accent-color);
  }
}

.header__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.address {
  @extend %list;
  display: flex;
  margin-left: auto;
  gap: 50px;
  list-style: none;
}

.address__contact-link {
  @extend %link;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
  fill: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  transition: color 250ms var(--time-function);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}